<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#00163c">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'dropplayer/images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'dropplayer/css/style.css' %}">
    <title>DropTune</title>
</head>
<!-- Web App creation and design by Sudev Suresh Sreedevi. Immense gratitude to all the contributors who
helped make this possible. -->
<body>
    <div class="droptune" onclick="location.href = '/'" id="ascend">DropTune</div>
    {% block content %}
    {% endblock %}
</body>
</html>