<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'dropplayer/css/style.css' %}">
    <title>DropTune</title>
</head>
<body>
    <div class="droptune">DropTune Media Player by Sudu Pro :) </div>
    {% block content %}
    {% endblock %}
</body>
<script>
    var title = document.getElementsByClassName('droptune')[0];
    window.onload = function(){
        title.id = 'ascend';
    }
</script>
</html>
