{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="home">
    <div class="droptune">DropTune</div>
    <div class="mode dj">
        <div class="disc"></div>
        <div class="stick"></div>
    </div>
    <div class="mode musplay" onclick="window.location = '/player'">
        <div class="note1 note"></div>
        <div class="note2 note"></div>
    </div>
</div>
<script>
    var title = document.getElementsByClassName('droptune')[0];
    var modes = document.getElementsByClassName('mode');
    window.onload = function(){
        title.id = 'ascend';
        for (let i = 0; i < modes.length; i++) {
            const element = modes[i];
            element.id = 'softpop';            
        }
    }
</script>
{% endblock %}