{% extends 'base.html' %}
{% block content %}
{% load static %}
<div>
<audio autoplay controls id="player"></audio>
<button onclick="next()">next</button>
<br>
<div class="nowplaying" style="color: var(--acc);"></div>
<form action="/player" method="post" enctype="multipart/form-data" id='endconfirm'>
{% csrf_token %}
    {{ endconfirm }}
<input type="submit" value="Submit" id="ender" hidden>
</form>
</div>

<script>
    var songs = [
        {% for song in songlist %}
        "{{ song }}",
        {% endfor %}
    ]
    var music_player = document.getElementById('player');
    var i = 0;

    // Handle this better. There are a lot of cases.
    songs.forEach((song) => {
        song.replace(/&#x27;/g, "'")
    });

    if (music_player === null){
        throw "Does not exist"
    }
    else{
        if(!songs.length) {
        alert("Drop a song from DJ mode from any device!");
        } else {
            music_player.src = songs[i];
            document.getElementsByClassName('nowplaying')[0].innerHTML = songs[i].slice(25, );
            music_player.addEventListener('ended', next, false);
        }
    }
    function next(){
        music_player.pause();
        i = ++i % songs.length
        console.log(songs[i]);
        if(!songs[i]) {
            alert("Song doesn't exist!");
        } else {
            music_player.setAttribute('src', songs[i]);
            document.getElementsByClassName('nowplaying')[0].innerHTML = songs[i].slice(25, );
            music_player.play();
        }
    }
    
</script>
{% endblock %}