/*Defining base colours*/
:root{
    --pri: #00163c;
    --prihov: #001233;
    --sec: #252525;
    --acc: #d7d7d7;
}
/*Custom Font*/
@font-face{
    font-family: 'Swis721';
    src: url(../fonts/swisse.ttf);
    font-weight: normal;
}
@font-face{
    font-family: 'Swis721';
    src: url(../fonts/swisseb.ttf);
    font-weight: bold;
}

body{
    font-family: "Swis721";
    padding: 0;
    margin: 0;
    background-color: var(--pri);
}
.home{
    height: 100vh;
    display: flex;
}
/*Animation sets*/
@keyframes ascend{
    from{margin-top: 20px; opacity: 0;}
    to{margin-top: 0; opacity: 1;}
}
@keyframes softpop{
    from{transform: scale(0.8); opacity: 0;}
    to{transform: scale(1); opacity: 1;}
}
#ascend{
    animation: ascend .5s forwards;
    animation-delay: .5s;
}
#softpop{
    animation: softpop .5s forwards;
    animation-delay: .5s;
}

/*DropTune Title*/
.droptune{
    position: absolute;
    text-align: center;
    color: var(--acc);
    width: 100%;
    padding: 15px 0px;
    z-index: 20;
    font-family: 'Swis721';
    font-weight: bold;
    font-size: 50px;
    opacity: 0;
    user-select: none;
    cursor: pointer;
}
/*MODE*/
.mode{
    margin: 0;
    width: 50vw;
    height: 100vh;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.mode:hover{
    background-color: var(--prihov);
    transition: .5s;
    cursor: pointer;
}
.modelabel{
    color: var(--acc);
    font-size: 30px;
}
/* DJ Mode styles*/
.dj:hover .stick{
    transform: rotate(0deg) scale(1.2);
    transition: .5s;
    transition-delay: .1s;
}
.dj:hover .disc{
    transform: scale(1.2) rotate(360deg);
    transition: .5s;
}

.disc{
    background-image: url('../images/disc.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 180px;
    width: 180px;
    position: absolute;
    transition: .5s;
}
.stick{
    transform: rotate(-20deg) translate(35px, -20px);
    position: relative;
    left: 160px;
    bottom: 50px;
    background-image: url('../images/stick.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 180px;
    width: 180px;
    transition: transform .5s;
}
/*QRCode Holder*/
.connect{
    background-color: var(--acc);
    background-image: url(../images/svg28.svg);
    height: fit-content;
    position: fixed;
    bottom: 10%;
    right: 5%;
    border-radius: 20px;
    z-index: 100;
    display: block;
}
.connect{
    background-color: var(--acc);
    background-image: url(../images/svg28.svg);
    height: 45px;
    position: fixed;
    bottom: 10%;
    right: 5%;
    border-radius: 20px;
    z-index: 100;
    display: block;
    width: 45px;
    box-shadow: #00000083 6px 6px 15px;
    opacity: 0;
    cursor: pointer;
}

.connect:hover .context{
    width: 175px;
    padding: 5px;
    font-size: medium;
    right: 181px;
    opacity: 1;
    transition: right .4s , opacity .5s cubic-bezier(.98,.01,1,.81);
}
.context{
    background-color: var(--acc);
    width: 0;
    font-family: "Swis721";
    font-weight: normal;
    position: relative;
    right: 0px;
    top: 8px;
    font-size: 0;
    padding: 0;
    opacity: 0;
}

.qr{
    width: fit-content;
    position: relative;
    right: 165px;
    bottom: 150px;
    padding: 10px;
    text-align: center;
    opacity: 0;
    color: var(--acc);
    font-weight: bold;
}
.qr img{
    max-width: 150px;
    height: auto;
}
/* Player Mode Styles */
.musplay{
    z-index: 5;
}
.musplay:hover .note1{
    transform: scale(1.2);
    transition: .5s;
}
.musplay:hover .note2{
    transform: scale(1.2);
    transition: .5s;
    transition-delay: .1s;
}
.note{
    background-image: url(../images/note.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.note1{
    height: 180px;
    width: 180px;
    position: absolute;
    transition: .5s;
}
.note2{
    height: 60px;
    width: 60px;
    position: relative;
    transition: .5s;
    top: 40px;
    left: 60px;
    transform: rotate(20deg);
}
/*-------DJ PAGE--------*/
.djpage{
    position: absolute;
    width: 100%;
    height: 100vh;
}
.left{
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.songlist-container{
    background-color: var(--sec);
    color: var(--acc);
    width: 70%;
    height: 40%;
    border-radius: 20px;
    margin: 5px;
}
.songlist{
    margin: 18px 0;
    list-style-type: none;
    padding: 0 20px;
}
.songlist li:first-child{
    background-color: var(--acc);
    color: var(--sec);
    border-radius: 10px;
}
.songlist li{
    padding: 8px 5px;
}
.choose{
    padding-top: 10px;
    width: 70%;
    text-align: center;
}
#song-name{
    background-color: var(--acc);
    color: var(--sec);
    border: none;
    border-radius: 5px;
    padding: 10px;  
    font-size: 16px;
    width: 80%;
}
.djbuttons{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0 0 0;
}
.choose-song{
    color: var(--acc);
    background-color: var(--sec);
    padding: 15px;
    border-radius: 20px;
}
.choose-song:hover{
    box-shadow: rgba(0, 0, 0, 0.800) 3px 3px 7px;
    cursor: pointer;
    transition: all .25s;
}
.choose-song:active{
    background-color: var(--acc);
    color: var(--sec);
}
#sub{
    color: var(--acc);
    background-color: var(--sec);
    padding: 15px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-family: 'Swis721';
    font-size: 16px;
}
#sub:hover{
    box-shadow: rgba(0, 0, 0, 0.800) 3px 3px 7px;
    cursor: pointer;
    transition: all .25s;
}
#sub:active{
    background-color: var(--acc);
    color: var(--sec);
}


.right{
    height: 100%;
    width: 50%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.albumart{
    max-width: 200px;
}
.songtitle{
    color: var(--acc);
    margin: 5px 0;
    font-size: 32px;
    text-align: center;
    width: 80%;
}
.artist{
    color: var(--acc);
    margin: 5px 0;
    text-align: center;
    width: 80%;
}
.album{
    color: var(--acc);
    margin: 5px 0;
    font-size: 18px;
    text-align: center;
    width: 80%;
}

/*-------Player Page--------*/
.playerpage{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.controls{
    margin-top: 20px;
    display: flex;
    gap: 5px;
}
/*-------Play button--------*/

#play{
    display: none;
}

#play:not(:checked)~ label .playbutton{
    border: solid;
    border-color:transparent transparent transparent var(--sec);
    box-sizing: border-box;
    border-width: 10px 0 10px 20px;
    display: block;
    width: 20px;
    height: 20px;
    transition: border-width .1s;
}
#play:checked ~ label .playbutton{
    border: double; 
    border-color: transparent transparent transparent var(--sec);
    box-sizing: border-box;
    border-width: 0 0 0 20px;
    display: block;
    width: 20px;
    height: 20px;
    transition: border-width .1s;
}

#play ~ label{
    border-radius: 80px;
    background-color: var(--acc);
    padding: 16px 15px 16px 16px;
    display: block;
    transform: scale(1.1);
}
#play ~ label:hover{
    cursor: pointer;
    border-radius: 80px;
    box-shadow: #00163cdc 5px 5px 8px;
    background-color: var(--acc);
    display: block;
    transition: box-shadow .1s;
}

/*---Next button-----*/

.next{
    background-color: var(--acc);
    display: flex;
    padding: 16px 10px;
    border-radius: 50px;
    transform: scale(.9);
}
.nex{
    border: solid;
    border-color:transparent transparent transparent var(--sec);
    box-sizing: border-box;
    border-width: 10px 0 10px 20px;
    display: block;
    width: 20px;
    height: 20px;
    transform: scale(.8);
    transition: border-width .1s;
}

.next:hover{
    cursor: pointer;
}